.seccionGaleria{
    .contenedorTituloGaleria{
        @include configContenedorTitulo;
    }

    .contenedorImagenGaleria{
        img{
            width: 80%;
            margin: 1rem;
            border-radius: 2rem 2rem 0rem 0rem;
            box-shadow: $sombra;
            margin-bottom: 0;
                &:hover{
                    border: 10px solid $colorOscuro;
                } 
            }
        
            .nombreProducto, .precioProducto, .botonAgregar{
                display: flex;
                justify-content: center;

                h5, button{
                    padding: 0.5rem;
                    background-color: $colorOscuro;
                    //border-radius: 0rem 0rem 2rem 2rem;
                    margin-bottom: 0;
                    width: 80%;
                    text-align: center;
                    color: white;
                }
            }
            .botonAgregar{
                
                button{
                    border-radius: 0rem 0rem 2rem 2rem;
                    &:hover{
                        color: black;
                    } 
                }
                
            }

    }
}





