.seccionGaleria{
    .contenedorTituloGaleria{
        @include configContenedorTitulo;
    }

    .contenedorImagenGaleria{
        img{
            width: 80%;
            margin: 1rem;
            border-radius: 2rem 2rem 0rem 0rem;
            box-shadow: $sombra;
            margin-bottom: 0;
                &:hover{
                    border: 10px solid $colorOscuro;
                } 
            }
        
            .nombreCelebridad{
                display: flex;
                justify-content: center;

                h5{
                    padding: 0.5rem;
                    background-color: $colorOscuro;
                    border-radius: 0rem 0rem 2rem 2rem;
                    width: 80%;
                    text-align: center;
                    color: white;
                }
        }
    }
}





