@media (min-width:100px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        display: flex;
        justify-content: center;
    }


    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    iframe{
        width: 336px;
        height: 189px;
    }

}

@media (min-width:500px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        display: flex;
        justify-content: center;
    }


    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    iframe{
        width: 336px;
        height: 189px;
    }

}

@media (min-width:768px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        display: flex;
        justify-content: center;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    iframe{
        width: 560px;
        height: 315px;
    }
}

@media (min-width:992px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        display: flex;
        justify-content: end;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    iframe{
        width: 1120px;
        height: 630px;
    }
}