.seccionSobreMi{
    padding-left: 4rem;
    padding-right: 4rem;
    .contenedorImagenSobreMi{

        .imagenSobreMi{
            width: 100%;
            border-radius: 2rem;
            box-shadow: $sombra;
        }
    }

    .contenedorTituloSobreMi{
        
        .tituloTextoSobreMi{
            @include configContenedorTitulo;
            width: 100%;
            @media (min-width: map-get($resoluciones, xs)){
                margin-top: 0.5rem;
            }
            @media (min-width: map-get($resoluciones, lg)){
                margin-top: 0;
            }
            h1{
                text-align: center;
            }
        }
        .textoSobreMi{
            p{
                @include configContenedorTitulo;
                width: 100%;
                margin-top: 0.6rem;
                padding: 1rem;
            }
        }
    }

}

