$colorOscuro: #ffb600;
$colorClaro: #fff2d1;
$patron: url("../images/pattern.png"); 
$sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

@mixin configH1{
    font-size: 2rem;
    font-weight: bold;
};

$resoluciones: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@import "_generales";
@import "_header";
@import "_body";
@import "_footer";
@import "_index";
@import "_sobreMi";
@import "_galeria";
@import "_escuela";
@import "_contacto";






