$colorOscuro: #ffb600;
$colorClaro: rgb(255, 242, 209, 0.8);
$patron: url("../images/pattern.png"); 
$sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

@mixin configContenedorTitulo{
  background-color: $colorClaro;
  border-radius: 2rem;
  box-shadow: $sombra;
  width: 64%;
  margin: auto;
};

$resoluciones: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@import "_generales";
@import "_header";
@import "_body";
@import "_footer";
@import "_index";
@import "_sobreMi";
@import "_galeria";
@import "_escuela";
@import "_contacto";






